:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --bone: rgb(255, 255, 255, 0.2);
  --grey: rgb(96, 96, 96);
  --grey-light: rgb(131, 131, 131);
  --header-color: rgba(0, 0, 0, 0.3);
  --header-color-intense: rgba(0, 0, 0, 0.7);
  --transition-time: 0.4s;
  --border-radius: 5px;
  --header-minimized-height: 5vh;
  --header-height: 10vh;
  --header-height-y-offset: -10vh;
  --header-offstep: 120px;
  --header-offstep-small: 80px;
  --padding-sides: 50px;
  --padding-sides-gallery: 80px;
  --padding-section-small: 20px;
  --padding-section-very-small: 10px;
  --margin-link: 30px;
  --black-test: rgb(0, 0, 0);
	
}

/* Text selectin color*/
::selection {
  background: var(--grey); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--grey); /* Gecko Browsers */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
  text-align: center;
  transition-duration: var(--transition-time);
  -webkit-transition-duration: var(--transition-time); /* Safari */
  -webkit-tap-highlight-color: transparent;
  list-style: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition-duration: var(--transition-time);
}

.nav-header-links a {
  margin-left: var(--margin-link);
}

h1 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
  cursor: default;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
}

body,
html {
  font-family: "Playfair Display SC", serif;
  background-color: black;
  overflow-x: hidden;
  -webkit-tap-highlight-color: black;
}

.header {
  /* position: absolute; */
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  padding: 0 var(--padding-sides);
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* transition: transform 0.9s; */
}
.header-minimized {
  top: var(--header-height-y-offset);
}
.footer {
  width: 100%;
  height: var(--header-height);
  background-color: var(--bone);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-sides);
}
.blank-item {
  color: transparent;
}
.home-div {
  font-size: 25px;
}

.nav-header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* transition: transform 0.9s; */
}

.nav-categories span {
  font-size: 10px;
}

.nav-categories {
  margin-left: var(--margin-link);
  cursor: pointer;
}

.nav-categories-content-wrapper {
  cursor: pointer;
  position: absolute;
  display: none;
  width: inherit;
  top: 0;
  z-index: 100;
  padding-top: var(--header-height);
}

.nav-categories-content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid white;
  right: inherit;
  padding: 20px;
  background-color: var(--header-color);
}

.nav-categories-content a {
  padding: var(--margin-link) 0;
  margin: 0;
}

.nav-categories-content li {
  padding: 10px 0;
}

.nav-categories-content-active {
  display: block;
}

.nav-categories-opened {
  margin-bottom: var(--margin-link);
}

.hero-image-wrapper {
  overflow: hidden;
}

.hero-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hero-image-1 {
  background-image: url("./images/hero/heroImage1.jpg");
}
.hero-image-2 {
  background-image: url("./images/hero/heroImage2.jpg");
}
.hero-image-3 {
  background-image: url("./images/hero/heroImage3.jpg");
}

.hero-text-container {
  user-select: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
}

.header-hamburger {
  display: none;
  cursor: pointer;
}

.carousel {
  top: 0;
  left: 0;
  position: absolute;

  overflow-y: hidden;
  width: 100%;
  height: 100vh;

  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.carousel-item {
  animation: fade 0.8s ease;
  border-radius: var(--border-radius-card-cat);
  overflow: hidden;
}

.carousel-control {
  border-top: 2px solid var(--white);
  position: absolute;
  width: 80%;
  height: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel-index {
  margin: 0 50px;
}

.category-card {
  position: relative;
}
.category-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.category-card-title {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  user-select: none;
  font-size: 18px;
  letter-spacing: 10px;
  background-color: var(--white);
  padding: var(--padding-section-small);
  /* text-shadow: 1px 1px 15px black; */
}
.category-card-title h1 {
  color: var(--black);
}

.gallery-container {
  background-color: rgb(43, 43, 43);
  padding: var(--header-offstep) var(--padding-sides)
    var(--padding-section-small) var(--padding-sides);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url("./images/galleryBg.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("./images/galleryBg.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("./images/galleryBg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("./images/galleryBg.jpg");
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 1em;
  row-gap: 1em;
  text-align: center;
  margin: var(--padding-sides) 0;
}
.portfolio-grid {
  grid-template-columns: repeat(2, 1fr);
  margin: var(--padding-sides-gallery) 0;
}

.btn-media {
  width: 1.7em;
  height: 1.7em;
}

.link-media {
  display: block;
  width: inherit;
  height: inherit;
  transition-duration: 0s;
}

.icon-small {
  width: 1.7em;
  height: 1.7em;
  /* display: block; */
  transition-duration: 0s;
  display: inline-block;
  vertical-align: middle;
}

.icon-contact {
  margin-right: 10px;
}

.contact-container {
  height: 100vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./images/contactImageTitle.jpg");
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("./images/contactImageTitle.jpg");
  background-image: -moz-linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("./images/contactImageTitle.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./images/contactImageTitle.jpg");
}

.contact-content {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin: var(--padding-section-small) 0;
}

.contact-item {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-section-small) 0;
  font-size: 20px;
}

.section {
  padding: var(--header-offstep) var(--padding-sides);
}

.gallery-title-container {
  height: 75px;
}
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}
.divider div {
  background-color: var(--white);
}
.divider h1 {
  flex-grow: 1;
}
.divider .left1 {
  flex-grow: 1;
  height: 1%;
}
.divider .right1 {
  flex-grow: 1;
  height: 1%;
}

.btn-totop {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.6;
  position: fixed;
  right: 2vh;
  bottom: 10vh;
}

.btn-totop-icon {
  filter: invert(48%) saturate(3207%) brightness(220%) contrast(90%);
  display: block;
  padding: 0.5em;
  width: inherit;
  height: inherit;
}

/* Scrollbar*/
@media screen and (min-width: 1024px) {
  body::-webkit-scrollbar {
    width: 0.5em;
  }

  body::-webkit-scrollbar-track {
    background-color: var(--grey-light);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    background-clip: padding-box;
    /* outline: 1px solid var(--grey-light); */
  }
}

@media (hover: hover) {
  .nav-header-links a:hover,
  .nav-categories p:hover {
    color: var(--grey);
  }
  .nav-categories:hover .nav-categories-content-wrapper {
    display: block;
  }
  .category-card:hover {
    transform: scale(1.03);
  }
  .icon-contact:hover {
    filter: invert(0%) sepia(0%) saturate(3207%) brightness(100%) contrast(1%);
  }
  .contact-item:hover * {
    color: var(--grey-light);
    filter: invert(0%) sepia(0%) saturate(3207%) brightness(100%) contrast(1%);
  }
  .btn-totop:hover {
    transform: scale(1.3);
    background-color: var(--grey);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .blank-item {
    display: none;
  }
  .category-card-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    font-size: 15px;
  }
  .portfolio-grid {
    row-gap: 5em;
    margin-top: 65px;
  }
}

@media screen and (max-width: 768px) {
  .footer-title {
    font-size: 12px;
  }
  .header {
    padding: 0 var(--padding-section-small);
    font-size: 20px;
  }
  .hero-image {
    background-position: top;
  }
  .header-hamburger {
    font-size: 1em;
    display: block;
  }
  .nav-categories-content-wrapper {
    position: relative;
    padding: 0;
  }
  .nav-categories-content {
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    right: inherit;
    padding: 0;
    background-color: transparent;
  }
  .nav-categories-content a {
    padding: 0;
  }
  .nav-header-links {
    position: absolute;
    right: 0;
    top: 10vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--header-color);
    display: none;
    opacity: 0;
    /* transition: all 0.1 ease-in; */
    z-index: 1;
    padding: 0.6em;
  }
  .nav-header-links-active {
    display: flex;
    visibility: visible;
    opacity: 1;
    /* transform: translateY(0%); */
  }
  .nav-header-links a,
  .nav-header-links button,
  .nav-categories {
    margin: 1.2em 0;
  }
  .home-div {
    font-size: 20px;
  }
  .divider h1,
  .contact-container h1 {
    font-size: 22px;
  }
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 1em 0;
  }
  .portfolio-grid {
    margin-top: 65px;
  }
  .gallery-container {
    padding: var(--header-offstep-small) var(--padding-section-very-small);
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)),
      url("./images/galleryBg.jpg");
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)),
      url("./images/galleryBg.jpg");
      background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)),
      url("./images/galleryBg.jpg"); 
      background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)),
      url("./images/galleryBg.jpg");  
  }

  .header-dark {
    background-color: var(--header-color-intense);
  }
  .contact-item {
    font-size: 18px;
  }
  .section {
    padding: var(--header-offstep-small) var(--padding-section-small);
  }
}

@media screen and (max-width: 320px) {
  .footer-title {
    font-size: 10px;
  }
  .home-div {
    font-size: 19px;
  }
  .header-hamburger {
    font-size: 18px;
  }
}

/* Hamburger */
.header-hamburger span {
  display: block;
  margin: 0.4em 0;
  width: 1.5em;
  height: 0.15em;
  background-color: white;
}

@keyframes fade {
  0% {
    filter: brightness(150%);
    opacity: 0.3;
  }
  100% {
    filter: brightness(100%);
    opacity: 1;
  }
}

.ham-toggle .line1 {
  transform: rotate(45deg) translate(0.3em, 0.7em);
}
.ham-toggle .line2 {
  opacity: 0;
}
.ham-toggle .line3 {
  transform: rotate(-45deg) translate(0.07em, -0.5em);
}
